
programs/cmake-build-debug/cmake_install.cmake
programs/cmake-build-debug/CMakeCache.txt
programs/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
programs/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
programs/cmake-build-debug/CMakeFiles/clion-environment.txt
programs/cmake-build-debug/CMakeFiles/clion-log.txt
programs/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
programs/cmake-build-debug/CMakeFiles/CMakeOutput.log
programs/cmake-build-debug/CMakeFiles/main.c.dir/build.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/depend.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/flags.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/link.txt
programs/cmake-build-debug/CMakeFiles/main.c.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/progress.make
programs/cmake-build-debug/CMakeFiles/Makefile.cmake
programs/cmake-build-debug/CMakeFiles/Makefile2
programs/cmake-build-debug/CMakeFiles/program.dir/build.make
programs/cmake-build-debug/CMakeFiles/program.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/depend.make
programs/cmake-build-debug/CMakeFiles/program.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/flags.make
programs/cmake-build-debug/CMakeFiles/program.dir/link.txt
programs/cmake-build-debug/CMakeFiles/program.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/progress.make
programs/cmake-build-debug/CMakeFiles/programs.dir/build.make
programs/cmake-build-debug/CMakeFiles/programs.dir/C.includecache
programs/cmake-build-debug/CMakeFiles/programs.dir/cJSON.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/depend.internal
programs/cmake-build-debug/CMakeFiles/programs.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/programs.dir/main.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/objects.a
programs/cmake-build-debug/CMakeFiles/TargetDirectories.txt
programs/cmake-build-debug/libprograms.dll.a
programs/cmake-build-debug/Makefile
programs/cmake-build-debug/programs.cbp
programs/cmake-build-debug/programs.exe
programs/cmake-build-debug/Testing/Temporary/LastTest.log
server/cmake-build-debug/cmake_install.cmake
server/cmake-build-debug/CMakeCache.txt
server/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
server/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
server/cmake-build-debug/CMakeFiles/clion-environment.txt
server/cmake-build-debug/CMakeFiles/clion-log.txt
server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
server/cmake-build-debug/CMakeFiles/CMakeOutput.log
server/cmake-build-debug/CMakeFiles/Makefile.cmake
server/cmake-build-debug/CMakeFiles/Makefile2
server/cmake-build-debug/CMakeFiles/server.dir/build.make
server/cmake-build-debug/CMakeFiles/server.dir/C.includecache
server/cmake-build-debug/CMakeFiles/server.dir/cJSON.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/depend.internal
server/cmake-build-debug/CMakeFiles/server.dir/DependInfo.cmake
server/cmake-build-debug/CMakeFiles/server.dir/main.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/objects.a
server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
server/cmake-build-debug/libserver.dll.a
server/cmake-build-debug/Testing/Temporary/LastTest.log
server/cmake-build-debug/Makefile
server/cmake-build-debug/server.cbp
*.log
programs/cmake-build-debug/cmake_install.cmake
programs/cmake-build-debug/CMakeCache.txt
programs/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
programs/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
programs/cmake-build-debug/CMakeFiles/clion-environment.txt
programs/cmake-build-debug/CMakeFiles/clion-log.txt
programs/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
programs/cmake-build-debug/CMakeFiles/CMakeOutput.log
programs/cmake-build-debug/CMakeFiles/main.c.dir/build.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/depend.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/flags.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/link.txt
programs/cmake-build-debug/CMakeFiles/main.c.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/progress.make
programs/cmake-build-debug/CMakeFiles/Makefile.cmake
programs/cmake-build-debug/CMakeFiles/Makefile2
programs/cmake-build-debug/CMakeFiles/program.dir/build.make
programs/cmake-build-debug/CMakeFiles/program.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/depend.make
programs/cmake-build-debug/CMakeFiles/program.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/flags.make
programs/cmake-build-debug/CMakeFiles/program.dir/link.txt
programs/cmake-build-debug/CMakeFiles/program.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/progress.make
programs/cmake-build-debug/CMakeFiles/programs.dir/build.make
programs/cmake-build-debug/CMakeFiles/programs.dir/C.includecache
programs/cmake-build-debug/CMakeFiles/programs.dir/cJSON.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/depend.internal
programs/cmake-build-debug/CMakeFiles/programs.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/programs.dir/main.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/objects.a
programs/cmake-build-debug/CMakeFiles/TargetDirectories.txt
programs/cmake-build-debug/libprograms.dll.a
programs/cmake-build-debug/Makefile
programs/cmake-build-debug/programs.cbp
programs/cmake-build-debug/programs.exe
programs/cmake-build-debug/Testing/Temporary/LastTest.log
server/cmake-build-debug/cmake_install.cmake
server/cmake-build-debug/CMakeCache.txt
server/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
server/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
server/cmake-build-debug/CMakeFiles/clion-environment.txt
server/cmake-build-debug/CMakeFiles/clion-log.txt
server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
server/cmake-build-debug/CMakeFiles/CMakeOutput.log
server/cmake-build-debug/CMakeFiles/Makefile.cmake
server/cmake-build-debug/CMakeFiles/Makefile2
server/cmake-build-debug/CMakeFiles/server.dir/build.make
server/cmake-build-debug/CMakeFiles/server.dir/C.includecache
server/cmake-build-debug/CMakeFiles/server.dir/cJSON.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/depend.internal
server/cmake-build-debug/CMakeFiles/server.dir/DependInfo.cmake
server/cmake-build-debug/CMakeFiles/server.dir/main.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/objects.a
server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
server/cmake-build-debug/libserver.dll.a
server/cmake-build-debug/Makefile
server/cmake-build-debug/Resources/Users/real.user.json
server/cmake-build-debug/server.cbp
server/cmake-build-debug/Testing/Temporary/LastTest.log
*.log
programs/cmake-build-debug/cmake_install.cmake
programs/cmake-build-debug/CMakeCache.txt
programs/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
programs/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
programs/cmake-build-debug/CMakeFiles/clion-environment.txt
programs/cmake-build-debug/CMakeFiles/clion-log.txt
programs/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
programs/cmake-build-debug/CMakeFiles/CMakeOutput.log
programs/cmake-build-debug/CMakeFiles/main.c.dir/build.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/depend.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/flags.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/link.txt
programs/cmake-build-debug/CMakeFiles/main.c.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/progress.make
programs/cmake-build-debug/CMakeFiles/Makefile.cmake
programs/cmake-build-debug/CMakeFiles/Makefile2
programs/cmake-build-debug/CMakeFiles/program.dir/build.make
programs/cmake-build-debug/CMakeFiles/program.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/depend.make
programs/cmake-build-debug/CMakeFiles/program.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/flags.make
programs/cmake-build-debug/CMakeFiles/program.dir/link.txt
programs/cmake-build-debug/CMakeFiles/program.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/progress.make
programs/cmake-build-debug/CMakeFiles/programs.dir/build.make
programs/cmake-build-debug/CMakeFiles/programs.dir/C.includecache
programs/cmake-build-debug/CMakeFiles/programs.dir/cJSON.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/depend.internal
programs/cmake-build-debug/CMakeFiles/programs.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/programs.dir/main.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/objects.a
programs/cmake-build-debug/CMakeFiles/TargetDirectories.txt
programs/cmake-build-debug/libprograms.dll.a
programs/cmake-build-debug/Makefile
programs/cmake-build-debug/programs.cbp
programs/cmake-build-debug/programs.exe
programs/cmake-build-debug/Testing/Temporary/LastTest.log
server/cmake-build-debug/cmake_install.cmake
server/cmake-build-debug/CMakeCache.txt
server/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
server/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
server/cmake-build-debug/CMakeFiles/clion-environment.txt
server/cmake-build-debug/CMakeFiles/clion-log.txt
server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
server/cmake-build-debug/CMakeFiles/CMakeOutput.log
server/cmake-build-debug/CMakeFiles/Makefile.cmake
server/cmake-build-debug/CMakeFiles/Makefile2
server/cmake-build-debug/CMakeFiles/server.dir/build.make
server/cmake-build-debug/CMakeFiles/server.dir/C.includecache
server/cmake-build-debug/CMakeFiles/server.dir/cJSON.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/depend.internal
server/cmake-build-debug/CMakeFiles/server.dir/DependInfo.cmake
server/cmake-build-debug/CMakeFiles/server.dir/main.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/objects.a
server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
server/cmake-build-debug/libserver.dll.a
server/cmake-build-debug/Makefile
server/cmake-build-debug/server.cbp
server/cmake-build-debug/Testing/Temporary/LastTest.log
programs/cmake-build-debug/cmake_install.cmake
programs/cmake-build-debug/CMakeCache.txt
programs/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
programs/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
programs/cmake-build-debug/CMakeFiles/clion-environment.txt
programs/cmake-build-debug/CMakeFiles/clion-log.txt
programs/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
programs/cmake-build-debug/CMakeFiles/CMakeOutput.log
programs/cmake-build-debug/CMakeFiles/main.c.dir/build.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/depend.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/flags.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/link.txt
programs/cmake-build-debug/CMakeFiles/main.c.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/progress.make
programs/cmake-build-debug/CMakeFiles/Makefile.cmake
programs/cmake-build-debug/CMakeFiles/Makefile2
programs/cmake-build-debug/CMakeFiles/program.dir/build.make
programs/cmake-build-debug/CMakeFiles/program.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/depend.make
programs/cmake-build-debug/CMakeFiles/program.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/flags.make
programs/cmake-build-debug/CMakeFiles/program.dir/link.txt
programs/cmake-build-debug/CMakeFiles/program.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/progress.make
programs/cmake-build-debug/CMakeFiles/programs.dir/build.make
programs/cmake-build-debug/CMakeFiles/programs.dir/C.includecache
programs/cmake-build-debug/CMakeFiles/programs.dir/cJSON.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/depend.internal
programs/cmake-build-debug/CMakeFiles/programs.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/programs.dir/main.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/objects.a
programs/cmake-build-debug/CMakeFiles/TargetDirectories.txt
programs/cmake-build-debug/libprograms.dll.a
programs/cmake-build-debug/Makefile
programs/cmake-build-debug/programs.cbp
programs/cmake-build-debug/programs.exe
programs/cmake-build-debug/Testing/Temporary/LastTest.log
server/cmake-build-debug/cmake_install.cmake
server/cmake-build-debug/CMakeCache.txt
server/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
server/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
server/cmake-build-debug/CMakeFiles/clion-environment.txt
server/cmake-build-debug/CMakeFiles/clion-log.txt
server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
server/cmake-build-debug/CMakeFiles/CMakeOutput.log
server/cmake-build-debug/CMakeFiles/Makefile.cmake
server/cmake-build-debug/CMakeFiles/Makefile2
server/cmake-build-debug/CMakeFiles/server.dir/build.make
server/cmake-build-debug/CMakeFiles/server.dir/C.includecache
server/cmake-build-debug/CMakeFiles/server.dir/cJSON.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/depend.internal
server/cmake-build-debug/CMakeFiles/server.dir/DependInfo.cmake
server/cmake-build-debug/CMakeFiles/server.dir/main.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/objects.a
server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
server/cmake-build-debug/libserver.dll.a
server/cmake-build-debug/Makefile
server/cmake-build-debug/server.cbp
server/cmake-build-debug/Testing/Temporary/LastTest.log
programs/cmake-build-debug/cmake_install.cmake
programs/cmake-build-debug/CMakeCache.txt
programs/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
programs/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
programs/cmake-build-debug/CMakeFiles/clion-environment.txt
programs/cmake-build-debug/CMakeFiles/clion-log.txt
programs/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
programs/cmake-build-debug/CMakeFiles/CMakeOutput.log
programs/cmake-build-debug/CMakeFiles/main.c.dir/build.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/depend.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/flags.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/link.txt
programs/cmake-build-debug/CMakeFiles/main.c.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/progress.make
programs/cmake-build-debug/CMakeFiles/Makefile.cmake
programs/cmake-build-debug/CMakeFiles/Makefile2
programs/cmake-build-debug/CMakeFiles/program.dir/build.make
programs/cmake-build-debug/CMakeFiles/program.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/depend.make
programs/cmake-build-debug/CMakeFiles/program.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/flags.make
programs/cmake-build-debug/CMakeFiles/program.dir/link.txt
programs/cmake-build-debug/CMakeFiles/program.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/progress.make
programs/cmake-build-debug/CMakeFiles/programs.dir/build.make
programs/cmake-build-debug/CMakeFiles/programs.dir/C.includecache
programs/cmake-build-debug/CMakeFiles/programs.dir/cJSON.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/depend.internal
programs/cmake-build-debug/CMakeFiles/programs.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/programs.dir/main.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/objects.a
programs/cmake-build-debug/CMakeFiles/TargetDirectories.txt
programs/cmake-build-debug/libprograms.dll.a
programs/cmake-build-debug/Makefile
programs/cmake-build-debug/programs.cbp
programs/cmake-build-debug/programs.exe
programs/cmake-build-debug/Testing/Temporary/LastTest.log
server/cmake-build-debug/cmake_install.cmake
server/cmake-build-debug/CMakeCache.txt
server/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
server/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
server/cmake-build-debug/CMakeFiles/clion-environment.txt
server/cmake-build-debug/CMakeFiles/clion-log.txt
server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
server/cmake-build-debug/CMakeFiles/CMakeOutput.log
server/cmake-build-debug/CMakeFiles/Makefile.cmake
server/cmake-build-debug/CMakeFiles/Makefile2
server/cmake-build-debug/CMakeFiles/server.dir/build.make
server/cmake-build-debug/CMakeFiles/server.dir/C.includecache
server/cmake-build-debug/CMakeFiles/server.dir/cJSON.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/depend.internal
server/cmake-build-debug/CMakeFiles/server.dir/DependInfo.cmake
server/cmake-build-debug/CMakeFiles/server.dir/main.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/objects.a
server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
server/cmake-build-debug/libserver.dll.a
server/cmake-build-debug/Makefile
server/cmake-build-debug/server.cbp
server/cmake-build-debug/Testing/Temporary/LastTest.log
programs/cmake-build-debug/cmake_install.cmake
programs/cmake-build-debug/CMakeCache.txt
programs/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
programs/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
programs/cmake-build-debug/CMakeFiles/clion-environment.txt
programs/cmake-build-debug/CMakeFiles/clion-log.txt
programs/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
programs/cmake-build-debug/CMakeFiles/CMakeOutput.log
programs/cmake-build-debug/CMakeFiles/main.c.dir/build.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/depend.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/main.c.dir/flags.make
programs/cmake-build-debug/CMakeFiles/main.c.dir/link.txt
programs/cmake-build-debug/CMakeFiles/main.c.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/main.c.dir/progress.make
programs/cmake-build-debug/CMakeFiles/Makefile.cmake
programs/cmake-build-debug/CMakeFiles/Makefile2
programs/cmake-build-debug/CMakeFiles/program.dir/build.make
programs/cmake-build-debug/CMakeFiles/program.dir/cmake_clean.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/depend.make
programs/cmake-build-debug/CMakeFiles/program.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/program.dir/flags.make
programs/cmake-build-debug/CMakeFiles/program.dir/link.txt
programs/cmake-build-debug/CMakeFiles/program.dir/linklibs.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/objects1.rsp
programs/cmake-build-debug/CMakeFiles/program.dir/progress.make
programs/cmake-build-debug/CMakeFiles/programs.dir/build.make
programs/cmake-build-debug/CMakeFiles/programs.dir/C.includecache
programs/cmake-build-debug/CMakeFiles/programs.dir/cJSON.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/depend.internal
programs/cmake-build-debug/CMakeFiles/programs.dir/DependInfo.cmake
programs/cmake-build-debug/CMakeFiles/programs.dir/main.c.obj
programs/cmake-build-debug/CMakeFiles/programs.dir/objects.a
programs/cmake-build-debug/CMakeFiles/TargetDirectories.txt
programs/cmake-build-debug/libprograms.dll.a
programs/cmake-build-debug/Makefile
programs/cmake-build-debug/programs.cbp
programs/cmake-build-debug/programs.exe
programs/cmake-build-debug/Testing/Temporary/LastTest.log
server/cmake-build-debug/cmake_install.cmake
server/cmake-build-debug/CMakeCache.txt
server/cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
server/cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/a.exe
server/cmake-build-debug/CMakeFiles/clion-environment.txt
server/cmake-build-debug/CMakeFiles/clion-log.txt
server/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
server/cmake-build-debug/CMakeFiles/CMakeOutput.log
server/cmake-build-debug/CMakeFiles/Makefile.cmake
server/cmake-build-debug/CMakeFiles/Makefile2
server/cmake-build-debug/CMakeFiles/server.dir/build.make
server/cmake-build-debug/CMakeFiles/server.dir/C.includecache
server/cmake-build-debug/CMakeFiles/server.dir/cJSON.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/depend.internal
server/cmake-build-debug/CMakeFiles/server.dir/DependInfo.cmake
server/cmake-build-debug/CMakeFiles/server.dir/main.c.obj
server/cmake-build-debug/CMakeFiles/server.dir/objects.a
server/cmake-build-debug/CMakeFiles/TargetDirectories.txt
server/cmake-build-debug/libserver.dll.a
server/cmake-build-debug/Makefile
server/cmake-build-debug/server.cbp
server/cmake-build-debug/Testing/Temporary/LastTest.log
